.Title-container {
  display: flex;
  align-items: center;
  gap: 1rem;

  color: #05213f;

  & img {
    height: 4rem;
  }

  & h1 {
    transition: all 0.3s ease-in-out;
  }

  /* &:hover {
    img {
      border: 1px solid red;

      svg {
        path {
          fill: red;
        }
      }
    }

    h1 {
      color: #bd34fe;
    } 
   } */
}

.Title-container img svg path {
  fill: #e10000;
}

.Title-container img svg path:first-child {
  fill: aqua;
}
