* {
  margin: 0;
  padding: 0;
}

.container {
  position: relative;
  width: 98.9vw;
  min-height: 100vh;
  border: 1px solid black;
  background-color: #05213f;
  box-sizing: border-box;
}

.banner {
  width: 100%;
  min-height: 100vh;

  border: 4px solid rgb(6, 18, 68);
  box-sizing: border-box;
  backdrop-filter: blur(40px);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.banner h1 {
  font-size: 4rem;
  color: #05213f;
  color: white;
}

.child {
  border: 1px solid black;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  border-radius: 100%;
  animation: zoomInOut 3s ease-in-out infinite;
}

.color-1 {
  background-color: #FF33CC; /* Neon Pink /
  background-image: linear-gradient(to bottom, #FF33CC, #33CCFF); / Gradient to Neon Blue */
  }
  .color-2 {
  background-color: #33CCFF; /* Neon Blue /
  background-image: linear-gradient(to bottom, #33CCFF, #FFCC33); / Gradient to Neon Yellow */
  }
  .color-3 {
  background-color: #FFCC33; /* Neon Yellow /
  background-image: linear-gradient(to bottom, #FFCC33, #33FF99); / Gradient to Neon Green */
  }
  .color-4 {
  background-color: #33FF99; /* Neon Green /
  background-image: linear-gradient(to bottom, #33FF99, #CC33FF); / Gradient to Neon Purple */
  }
  .color-5 {
  background-color: #CC33FF; /* Neon Purple /
  background-image: linear-gradient(to bottom, #CC33FF, #99FF33); / Gradient to Neon Lime */
  }
  .color-6 {
  background-color: #99FF33; /* Neon Lime /
  background-image: linear-gradient(to bottom, #99FF33, #FF33CC); / Gradient to Neon Pink */
  }

/* @keyframes zoomInOut {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
} */

@keyframes zoomIn {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.zoomInAnimation {
  animation: zoomIn 0.5s ease-in-out;
}
