* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  position: relative;
  width: 98.9vw;
  /* width: 100vw; */
  min-height: 100vh;
  background-color: #05213f;
  background-color: #201e1e;
}

.banner {
  width: 100%;
  min-height: 100vh;

  border: 4px solid rgb(6, 18, 68);
  border: 4px solid rgb(0, 0, 0);

  backdrop-filter: blur(30px);
  font-size: 5rem;
  font-family: 'Bebas Neue', sans-serif;
  padding: 0% 8%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  & div {
    display: flex;

    & h1 {
      font-size: inherit;
      font-family: inherit;
      background: -webkit-linear-gradient(
        120deg,
        rgba(0, 254, 59, 1) 0%,
        rgba(0, 212, 255, 1) 100%
      );
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    & span {
      font-size: inherit;
      font-family: inherit;
      font-size: inherit;
      color: white;
    }
  }
  & p {
    font-family: monospace;
    font-size: 1rem;
    color: white;
    width: 30rem;

    & strong {
      font-size: 1.2rem;
      color: aquamarine;
    }
  }
}

h1 {
  font-size: inherit;
  font-family: inherit;
  background: -webkit-linear-gradient(
    120deg,
    rgba(0, 254, 59, 1) 0%,
    rgba(0, 212, 255, 1) 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.projects {
  background: -webkit-linear-gradient(
    90deg,
    rgb(51, 204, 255) 0%,
    rgb(255, 51, 204) 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.skills {
  background: -webkit-linear-gradient(
    90deg,
    rgb(255, 204, 51) 0%,
    rgb(51, 255, 153) 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.skills-container {
  display: flex;
  flex-direction: column;

  & skills-container-div {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: row;

    width: 150px;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
}

.projects-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.about-me {
  background: -webkit-linear-gradient(
    90deg,
    rgb(204, 51, 255) 0%,
    rgb(153, 255, 51) 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.contact {
  background: -webkit-linear-gradient(
    90deg,
    rgb(51, 255, 153) 0%,
    rgb(255, 51, 204) 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.child {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  border-radius: 0%;
  animation: zoomInOut 3s ease-in-out infinite;
}

.color-1 {
  background-color: rgb(255, 51, 204);
}
.color-2 {
  background-color: rgb(51, 204, 255);
}
.color-3 {
  background-color: rgb(255, 204, 51);
}
.color-4 {
  background-color: rgb(51, 255, 153);
}
.color-5 {
  background-color: rgb(204, 51, 255);
}
.color-6 {
  background-color: rgb(153, 255, 51);
}

.zoomInAnimation {
  animation: zoomIn 0.5s ease-in-out;
}

footer {
  color: white;
  display: flex;
  justify-content: space-around;
  font-size: 1rem;
  gap: 20rem;

  & ul {
    display: flex;
    gap: 1rem;
    list-style: none;
  }
}

@keyframes zoomIn {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

@media (prefers-color-scheme: light) {
  .container {
    background-color: #ffffff;
  }
  .banner {
    & div {
      & span {
        color: #05213f;
      }
    }
    & p {
      color: #05213f;
    }
  }
}
