:root {
  font-size: 16px;
  color-scheme: dark;

  --banner-bg-color: #201e1e;

  --gradient-color1: #00fe3b;
  --gradient-color2: #00d4ff;
  --gradient-direction: 120deg;

  --main-background-color: #2e3c51;
  --primary-color: #10151d;
  --border-color: #05213f;
  --hover-color: #4a6182;
  --text-color: #fff;
  --sub-title-color: var(--gradient-color2);
  --highlight-color: #00e7a5;

  --pagina-color-1: #ff5f57;
  --pagina-color-2: #ffbd2e;
  --pagina-color-3: #28ca42;

  --shape-color-1: #ff33cc;
  --shape-color-2: #33ccff;
  --shape-color-3: #ffcc33;
  --shape-color-4: #33ff99;
  --shape-color-5: #cc33ff;
  --shape-color-6: #99ff33;

  --font-main-title: 'Bebas Neue', sans-serif;
  --font-titles: 'Cairo Variable', sans-serif;
  --font-body: 'Montserrat Variable', sans-serif;

  --image-profile-shadow: 0rem 0rem 8rem #00fe3b62;
  --card-shadow: 8px 8px 24px 0 rgba(9, 13, 20, 0.4),
    -4px -4px 8px 0 rgba(224, 224, 255, 0.04), 0 1px 1px 0 rgba(9, 13, 20, 0.4);

  --section-background: #00e7a5;
}

::selection {
  background-color: var(--section-background);
  text-shadow: 0 0 0px var(--primary-color);
  color: transparent;
}

@media (width < 400px) {
  .color-7 {
    display: none;
  }
  .color-8 {
    display: none;
  }
  .color-9 {
    display: none;
  }
  .color-10 {
    display: none;
  }
  .color-11 {
    display: none;
  }
  .color-12 {
    display: none;
  }

  .color-13 {
    display: none;
  }
  .color-14 {
    display: none;
  }
  .color-15 {
    display: none;
  }
  .color-16 {
    display: none;
  }
  .color-17 {
    display: none;
  }
  .color-18 {
    display: none;
  }
}

@media (width < 900px) {
  :root {
    font-size: 13px;
  }
}

@media (width < 750px) {
  :root {
    font-size: 12px;
  }

  .banner {
    padding: 15% 8% 1% 8%;
  }
}

@media (width < 510px) {
  :root {
    font-size: 11px;
  }

  .banner {
    padding: 20% 8% 1% 8%;
  }
}

@media (width < 430px) {
  :root {
    font-size: 9px;
  }
}

@media (width < 370px) {
  :root {
    font-size: 8px;
  }
}

@media (width < 300px) {
  :root {
    font-size: 6px;
  }
}

@media (width < 200px) {
  :root {
    font-size: 4px;
  }
}

/* jikah66633@idsho.com */

@media (prefers-color-scheme: light) {
  :root {
    color-scheme: light;

    --banner-bg-color: #ffffff;
    --gradient-color1: #0107f3;
    --gradient-color2: #05ef88;
    --gradient-direction: 135deg;

    --main-background-color: #f5f5f5;
    --primary-color: #ffffff;
    --border-color: #cccccc;
    --hover-color: #e0e0e0;
    --text-color: #000000;

    --sub-title-color: #004ead;
    --highlight-color: #004ead;

    --shape-color-1: #ff3333;
    --shape-color-2: #3333ff;
    --shape-color-3: #ffcc00;
    --shape-color-4: #33cc33;
    --shape-color-5: #cc33cc;
    --shape-color-6: #66cc00;

    --image-profile-shadow: 0rem 0rem 8rem #0105f38b;
    --card-shadow: 1px 1px 16px 0 #ccc;

    --section-background: #049baf;
  }
}
