:root {
  font-size: 16px;
  color-scheme: dark;
}

html {
  min-width: 350px;
}

@media (width < 510px) {
  :root {
    font-size: 11px;
  }

  .banner {
  padding: 20% 8% 1% 8% ;

  /* jikah66633@idsho.com */

  }
}


/* @media (prefers-color-scheme: light) {
  .container {
    background-color: #ffffff;
  }
  .banner {
    & div {
      & span {
        color: #05213f;
      }
    }
    & p {
      color: #05213f;
    }
  }
} */
